<% if @home_team.errors.any? %>
  <% @home_team.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit home team #<%= @home_team.id %>
</h1>

<hr>

<form action="/update_home_team/<%= @home_team.id %>" method="post">

  <div class="form-group">
    <label for="home_name">
      Home name
    </label>

    <input type="text" id="home_name" name="home_name" class="form-control" value="<%= @home_team.home_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update home team
  </button>
</form>

<hr>

<a href="/home_teams">
  Go back
</a>
