<h1>
  Add a new home team
</h1>


<hr>

<form action="/create_home_team" method="post">

  <div class="form-group">
    <label for="home_name">
      Home name
    </label>

    <input type="text" id="home_name" name="home_name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create home team
  </button>
</form>

<hr>

<a href="/home_teams">
  Go back
</a>
