<% if @home_team.present? %>
  <% if @home_team.errors.any? %>
    <% @home_team.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new home team
</h1>


<hr>

<form action="/create_home_team" method="post">

  <div class="form-group">
    <label for="home_name">
      Home name
    </label>

    <input type="text" id="home_name" name="home_name" class="form-control" value="<%= @home_team.home_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create home team
  </button>
</form>

<hr>

<a href="/home_teams">
  Go back
</a>
