<form action="/create_fan_team_from_user" method="post">

  <input type="hidden" name="user_id" value="<%= @user.id %>">

  <div class="form-group">
    <label for="team_id">
      Team
    </label>

    <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :created_at, @fan_team.team_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create fan team
  </button>
</form>
