<!-- Form fan_team start -->
<form action="/create_fan_team_from_user" method="post">
<!-- Form fan_team end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <!-- Input for user_id end -->

  <!-- Label and input for team_id start -->
  <div class="form-group">
    <label for="team_id">
      Team
    </label>

    <!-- Input for team_id start -->
    <input type="text" id="team_id" name="team_id" class="form-control" value="<%= @fan_team.team_id %>">
    <!-- Input for team_id end -->
  </div>
  <!-- Label and input for team_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create fan team
  </button>
</form>
