<h1>
  Add a new user
</h1>


<hr>

<!-- Form user start -->
<form action="/create_user" method="post">
<!-- Form user end -->

  <button class="btn btn-block btn-outline-secondary">
    Create user
  </button>
</form>

<hr>

<a href="/users">
  Go back
</a>
