<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Games

    <a data-toggle="collapse" href="#fan_team_games_new_form">
      Add game
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @fan_team.games.each do |game| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/games/<%= game.id %>">
          <%= game.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_game_from_fanteam/<%= game.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="fan_team_games_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "fan_team_templates/fan_team_games_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
