<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Fan Teams

    <a data-toggle="collapse" href="#team_fan_teams_new_form">
      Add fan team
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @team.fan_teams.each do |fan_team| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/fan_teams/<%= fan_team.id %>">
          <%= fan_team.user_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_fan_team_from_team/<%= fan_team.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="team_fan_teams_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "team_templates/team_fan_teams_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
