<form action="/create_fan_team_from_team" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @fan_team.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="team_id" value="<%= @team.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create fan team
  </button>
</form>
