<h1>
  Edit team #<%= @team.id %>
</h1>

<hr>

<form action="/update_team/<%= @team.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update team
  </button>
</form>

<hr>

<a href="/teams">
  Go back
</a>
