<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All teams
    </h1>

    <a href="/teams/new" class="btn btn-block btn-outline-secondary">
      Add a new team
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @teams.each do |team| %>
      <tr>
        <!-- Display team.id start -->
        <td>
          <%= team.id %>
        </td>
        <!-- Display team.id end -->

        <!-- Display team.created_at start -->
        <td>
          <%= time_ago_in_words(team.created_at) %> ago
        </td>
        <!-- Display team.created_at end -->

        <!-- Display team.updated_at start -->
        <td>
          <%= time_ago_in_words(team.updated_at) %> ago
        </td>
        <!-- Display team.updated_at end -->

        <td>
          <a href="/teams/<%= team.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
