<h1>
  Add a new team
</h1>


<hr>

<form action="/create_team" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create team
  </button>
</form>

<hr>

<a href="/teams">
  Go back
</a>
