<% if @team.present? %>
  <% if @team.errors.any? %>
    <% @team.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new team
</h1>


<hr>

<form action="/create_team" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create team
  </button>
</form>

<hr>

<a href="/teams">
  Go back
</a>
