<% if @opponent_team.errors.any? %>
  <% @opponent_team.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit opponent team #<%= @opponent_team.id %>
</h1>

<hr>

<form action="/update_opponent_team/<%= @opponent_team.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update opponent team
  </button>
</form>

<hr>

<a href="/opponent_teams">
  Go back
</a>
