<h1>
  Add a new opponent team
</h1>


<hr>

<!-- Form opponent_team start -->
<form action="/create_opponent_team" method="post">
<!-- Form opponent_team end -->

  <button class="btn btn-block btn-outline-secondary">
    Create opponent team
  </button>
</form>

<hr>

<a href="/opponent_teams">
  Go back
</a>
