<% if @opponent_team.present? %>
  <% if @opponent_team.errors.any? %>
    <% @opponent_team.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new opponent team
</h1>


<hr>

<form action="/create_opponent_team" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create opponent team
  </button>
</form>

<hr>

<a href="/opponent_teams">
  Go back
</a>
